<?xml version="1.0" encoding="UTF-8"?>

<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 http://maven.apache.org/xsd/settings-1.0.0.xsd">
  <localRepository>/Users/zhansheng.lzs/.m2/repository</localRepository>

  <pluginGroups>
      <pluginGroup>com.alibaba.org.apache.maven.plugins</pluginGroup>
      <pluginGroup>com.alibaba.maven.plugins</pluginGroup>
  </pluginGroups>

  <servers>
    <server>
       <id>snapshots</id>
       <username>snapshotsAdmin</username>
       <password>123456</password>
    </server>
    <server>
       <id>releases</id>
       <username>admin</username>
       <password>screct</password>
    </server>

    <server>
       <id>central</id>
       <username>rP0w080N</username>
       <password>zewNx4/vl4laxn8Z3A/vJ5V/nPtCvkRB7Wxe0ovrj2JH</password>
    </server>

  </servers>

  <mirrors>
        <mirror>
            <id>tbmirror</id>
            <mirrorOf>*</mirrorOf>
            <name>taobao mirror</name>
            <url>http://mvnrepo.alibaba-inc.com/mvn/repository</url>
        </mirror>
        <mirror>
            <id>tbmirror-snapshots</id>
            <mirrorOf>snapshots</mirrorOf>
            <name>taobao mirror snapshots</name>
            <url>http://mvnrepo.alibaba-inc.com/mvn/repository</url>
        </mirror>

  </mirrors>

  <profiles>
      <profile>
            <id>nexus</id>
            <repositories>
                <repository>
                    <id>central</id>
                    <url>http://mvnrepo.alibaba-inc.com/mvn/repository</url>
                    <releases>
                        <enabled>true</enabled>
                    </releases>
                    <snapshots>
                        <enabled>false</enabled>
                    </snapshots>
                </repository>
                <repository>
                    <id>snapshots</id>
                    <url>http://mvnrepo.alibaba-inc.com/mvn/repository</url>
                    <releases>
                        <enabled>false</enabled>
                    </releases>
                    <snapshots>
                        <enabled>true</enabled>
                    </snapshots>
                </repository>
            </repositories>
            <pluginRepositories>
                <pluginRepository>
                    <id>central</id>
                    <url>http://mvnrepo.alibaba-inc.com/mvn/repository</url>
                    <releases>
                        <enabled>true</enabled>
                    </releases>
                    <snapshots>
                        <enabled>false</enabled>
                    </snapshots>
                </pluginRepository>
                <pluginRepository>
                    <id>snapshots</id>
                    <url>http://mvnrepo.alibaba-inc.com/mvn/repository</url>
                    <releases>
                        <enabled>false</enabled>
                    </releases>
                    <snapshots>
                        <enabled>true</enabled>
                    </snapshots>
                </pluginRepository>
           </pluginRepositories>
        </profile>

      <profile>
            <id>gpg</id>
            <properties>
                <gpg.executable>gpg</gpg.executable>
                <gpg.keyname>8B94E7C406F42988</gpg.keyname>
                <gpg.passphrase>dashscope2024</gpg.passphrase>
            </properties>
        </profile>
  </profiles>


  <activeProfiles>
      <activeProfile>nexus</activeProfile>
      <activeProfile>gpg</activeProfile>
  </activeProfiles>

</settings>
